//map_google=========================
.light_box {
	width:100%;
	height:100%;
	position: fixed;
	left:0px;
	bottom:0;
	z-index: 100;
	display: flex;
	justify-content: center;
	background: rgba($deep-gray, 0.9);
	z-index:190;
	display:none;
	transition:1s;
	opacity:0;
	.inner {
		align-self:center;
		position: relative;
		background: #111;
		color: $white-brown;
		padding:50px 20px;
		text-align: center;
		border:5px solid $deep-brown;
		box-shadow: 0 0 10px rgba($black, 0.5);
		z-index:200;
		h4 {
			display: inline-block;
			font-size:24px;
			font-weight: bold;
			color: $light-brown;
			border-bottom: 4px solid $light-brown;
			padding-bottom:10px;
			margin-bottom:40px;
		}
	}
}

.light_box .btn_group{
	max-width:230px;
	margin:0 auto;
	a.btn {
		display:block;
		margin-bottom:20px;
		border-radius: 20px;
		border:3px solid $light-brown;
		background: darken($deep-brown, 10);
		&:before {
			display: inline-block;
			content:"";
			width:30px;
			height:25px;
			background: url(../images/icon_contact.png) no-repeat center center / auto 35px;
			float:left;
		}
		&.call:before {
			background-position: left center;
		}
		&.fb:before {
			background-position: right center;
		}
		&:hover {
			background: none;
			color: $white;
		}
	}
}
.light_box .btn_close {
		width:50px;
		height:50px;
		position: absolute;
		left:10px;
		top:10px;
		padding:2px 5px;
		background: rgba($deep-brown, 0);
		transition: 0.3s;
		cursor:pointer;
		&:before {
			display:block;
			width:40px;
			height:5px;
			content:" ";
			background: $light-brown;
			position:relative;
			left:0px;
			top:14px;
			transition:0.3s linear;
			transform:rotate(45deg) translate3d(5.5px, 5.5px, 0px);
		}
		&:after {
			display:block;
			width:40px;
			height:5px;
			content:" ";
			background: $light-brown;
			position:relative;
			left:0px;
			top:25px;
			transition:0.3s linear;
			transform:rotate(-45deg) translate3d(5.5px, -5.5px, 0px);
		}
		&:hover {
			background: $deep-brown;
			&:after, &:before {
				// width:45px;
				background: lighten($light-brown, 10);
			}
		}
}

/*=====================media-query=======================*/
//mobile ============================
@include m_first(mobile) {
.light_box {
	.inner {
		padding:50px 40px;
		h4 {
			font-size:24px;
		}
		.btn_close {
			left:20px;
			top:20px;
		}
	}
}
}

//pad ============================
@include m_first(pad) {
.light_box {
	.inner {
		padding:50px 100px;
		h4 {
			font-size:24px;
		}
	}
}
}

//mobile ============================
@include breakpoint(1200) {

}
