//map_google=========================
.map_google {
	margin:50px auto;
	border:5px solid $brown;
	max-width:1000px;
	height:350px;
}


/*=====================media-query=======================*/
//mobile ============================
@include m_first(mobile) {

}

//pad ============================
@include m_first(pad) {

}

//mobile ============================
@include breakpoint(1200) {

}
