//sence_1=========================
.sence_6 {
	.title_1 {
		&:before{
			background-image: url(../images/icon_title_6.png)
		}
	}
	.faq {
		max-width:800px;
		margin:0 auto;
		padding:0 10px;
		p {
			color: $gray;
			span {
				border-left:5px solid rgba($black, 0.5);
				padding-left:10px;
			}
			&.qus{
				margin-bottom:20px;
				&:before {
					content:"Q";
				}
			}
			&.ans{
				margin-bottom:30px;
				padding-bottom:20px;
				border-bottom:1px solid rgba($white, 0.5);
				&:before {
					content:"A";
				}
			}
			&:before {
				display:inline-block;
				font-size: 14px;
				margin-right:10px;
				background: $light-gray;
				color:#fff;
				border-radius:3px;
				padding: 0px 10px;

			}
		}
	}
}


/*=====================media-query=======================*/
//mobile ============================
@include m_first(mobile) {

}

//pad ============================
@include m_first(pad) {


}
