//sence_1=========================
.sence_3 {
	height:0;
	overflow:hidden;
	opacity:0;
	// display:none;
	background: #905b3b;
	transition:all 0.5s ease-out;
	.title_1 {
		h3 {
			color:#fff;
		}
			span {
			color:#fff;
		}
		&:after {
			background-position: center bottom;
		}
		&:before{
			background-image: url(../images/icon_title_3.png)
		}
	}
	.item {
		max-width:600px;
		margin:0 auto 30px;
		.c1 {
			.gallery_2 {
				width:90%;
				margin:0 auto;
			}
			p.summary {
				max-width:600px;
				margin-bottom:30px;
				padding:0px 15px;
				color:rgba(255,255,255,0.9);
				font-size:14px;
				display: none;
			}
		}
		.c2 {
		}
	}
}

// c1 圖集 ========
.gallery_2 .bx-wrapper {
	margin:0px auto 20px;
	 .bx-viewport {
		background:none;
		border:none;
		box-shadow: 0 5px 15px rgba(0,0,0,0.2);
		left:0;
		a.pic {
			z-index:0!important;
		}

	}
	// 左右控制鈕 -------------
	.bx-controls-direction a {
		z-index: 0!important;
		width:27px;
		height:45px;
		background:#905b3b url(../images/icon_gallery_2.png) no-repeat center center / auto 100%;
		border:3px solid #bc9c85;
		box-shadow: 0 0 5px rgba(0,0,0,0.3) inset, 0 0 10px rgba(0,0,0,0.4);
		&:hover {
			background-color:lighten(#905b3b, 10);
			box-shadow: 0 0 5px rgba(0,0,0,0.2) inset, 0 0 15px rgba(0,0,0,0.5);
		}
		&.bx-prev {
			background-position: left center;
			left:-10px;
		}
		&.bx-next {
			background-position: right center;
			right:-10px;
		}
	}
	// 點點 pager -------------
	.bx-controls .bx-pager {
		position: absolute;
		bottom:0px;
		.bx-pager-item a {
			width:12px;
			height:12px;
			border-radius: 10px;
			background:rgba(255,255,255,0.7);
			box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
			&:hover {
				background:rgba(255,255,255,1);
			}
		}
	}
}


// c2 文字資訊 ========
.sence_3 .c2 {
	.info {
		width:85%;
		margin:0 auto;
		color:#fff;
		padding:10px 0;
		border-top:1px solid rgba(255,255,255,0.5);
		border-bottom:1px solid rgba(255,255,255,0.5);
		margin-bottom: 20px;
		h4 {
			font-size:22px;
			text-shadow:0 0 4px rgba(0,0,0,0.4);
		}
		span.label {
			display: inline-block;
			font-size:14px;
			background:#db9e3f;
			border-radius:5px;
			padding:0px 12px;
			position: relative;
			left:5px;
			bottom:3px;
			text-shadow:0 0 4px rgba(0,0,0,0.4);
		}
		.list {
			h5 {
				display: inline-block;
				padding:0 5px;
				background:#683e25;
				color:#fff;
				font-size:13px;
			}
			p {
				margin-bottom:5px;
			}
		}
	}
	.btn_box {
		margin-bottom:20px;
	}
}

/*=====================media-query=======================*/
//mobile ============================
@include m_first(mobile) {
.gallery_2 .bx-wrapper .bx-controls-direction a {
	width:40px;
	height:65px;
	background-size: 80px 65px;
	&.bx-prev {
		left:-20px;
	}
	&.bx-next {
		right:-20px;
	}
}
}

//pad ============================
@include m_first(pad) {
.gallery_2 .bx-wrapper .bx-controls-direction a {

}
}

//1000 ============================
@include breakpoint(1000) {
.sence_3 .inner {
	@extend %clearfix;
	.item {
		@extend %clearfix;
		clear:both;
		max-width:100%;
		margin-bottom:100px;
		.c1 {
			width:50%;
			float:left;
			.gallery_2 {
				width:100%;
			}
			p.summary {
				font-size:15px;
				display:block;
			}
		}
		.c2 {
			width:45%;
			float:right;
			.info {
				width:100%;
				padding:20px 0;
				margin-bottom:30px;
				h4 {
					font-size:26px;
				}
				.list {
					margin-bottom:10px;
				}
			}
			.btn_box {
				text-align:left;
				a.btn {
					padding:10px 100px;
					background:none;
					border-radius:0;
					box-shadow:0 0 5px 0px rgba(0, 0, 0, 0.2);
					&:hover {
						background:rgba(255,255,255,0.9);
						color:#905b3b;
					}
				}
			}
		}
	}
}





// 偶數item =========
.sence_3 .inner .item:nth-of-type(odd) {
	.c1 {
		float:right;
	}
	.c2 {
		float:left;
	}
}
}
