//sence_1=========================
.sence_1 {
	.title_1 {

	}
	.info {

	}
}

.info .item {
	@extend %clearfix;
	clear:both;
	background: #545454;
	position: relative;
	.pic {
		width: 50%;
		float:left;
		img {
			max-width: 100%;
			height:auto;
		}
	}
	.txt {
		width:50%;
		height:100%;
		color:#fff;
		position:absolute;
		right:0;
		display: flex;
		padding:10px;
		h3 {
			align-self:center;
			text-align: center;
			font-size: 14px;
		}
		p {
			display: none;
		}
	}
}

// 標題括號 ---------
.info .txt {
	position:absolute;
	&:before, &:after {
		display:block;
		content:"“";
		font-size: 20px;
		font-family: "Arial";
		float:left;
	}
	&:before {
		content:"“";
		float:left;
	}
	&:after {
		content:"”";
		float:right;
		// border:1px solid red;
		position: absolute;
		bottom:-10px;
		right:10px;
		// height:20px;
	}
}

// 偶數換色 ---------
.info .item:nth-of-type(even) {
	background: #905b3b;
	.pic {
		float:right;
	}
	.txt {
		left:0;
	}
}

/*=====================media-query=======================*/
//mobile ============================
@include m_first(mobile) {
.info .item .txt {
	h3 {
		font-size: 16px;
	}
}
}

//pad ============================
@include m_first(pad) {
.info .item .txt {
	display:block;
	padding:20px;
	&:before, &:after {
		display: none;
	}
	h3 {
		width:100%;
		font-size: 14px;
		margin-bottom:20px;
	}
	p {
		display: block;
		max-width:420px;
		margin: 0 auto;
		padding:15px;
		background: #eee5df;
		color:#998e87;
		font-size:14px;
		text-align: center;
		line-height: 1.8em;
		position: relative;
		&:after {
			display: block;
			content:"";
			width:105%;
			height:101%;
			position: absolute;
			bottom: -9%;
			left: -3%;
			border:1px solid #eee5df;
		}
	}
}
}

//mobile ============================
@include breakpoint(1200) {
.info .item .txt {
	padding:40px;
	h3 {
		font-size: 20px;
		margin-bottom:30px;
	}
	p {
		max-width:460px;
		padding:40px 20px;
		font-size:15px;
		line-height: 2em;
	}
}
}
