//story=========================
.story {
	width: 100%;
	height: 100vh;
	position:relative;
	display: flex;
	justify-content: center;
	padding:20px;
	text-shadow: 0 0 5px $deep-gray;
	background: linear-gradient(to top, rgba($black, 0) 0%, rgba($black, 0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	.inner {
		align-self:center;
		text-align: center;
		color: $white;
	}
}

.story .inner {
	h1 {
		@extend %text-hide;
		width:140px;
		height:115px;
		background: url(../images/logo_story.png) no-repeat center center / 100% auto;
		margin: 0 auto  20px auto;
	}
	h2 {
		font-family: 'cwTeXKai', serif;
		font-size: 26px;
		margin-bottom: 10px;
	}
	h3 {
		width: 80%;
		margin: 0 auto;
		color:rgba($white, 0.8);
		font-size: 14px;
		margin-bottom: 20px;
	}
}

.story .inner a.btn {
	border:1px solid $white;
	background:none;
	vertical-align: middle;
	position:relative;
	padding: 5px 20px;
	overflow: hidden;
	&:before {
		content:"";
		position:absolute;
		left:-50%;
		width:200%;
		height:200%;
		background:rgba(darken($deep-brown, 10), 0.8);
		top:-50%;
		transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
	}
	&:after {
		content:"↓";
		display: block;
		width:100%;
		height:100%;
		font-size: 22px;
		font-weight: bold;
		position: absolute;
		left:0;
		top:-100%;
		text-align: center;
		padding:5px 0;
		transition:all 0.3s;
	}
	span {
		font-size:20px;
	}
}

.story .inner a.btn:hover {
	&:before {
		animation:anim-naira-1 0.3s forwards ease-in
	}
	&:after {
		top:0;
		color: $white;
	}
	span {
		opacity:0;
	}
}

@keyframes anim-naira-1 {
	50% {
		transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
	}
}

/*=====================media-query=======================*/
//mobile ============================
@include m_first(mobile) {
.story .inner {
	h1 {
		width:220px;
		height:181px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 16px;
		margin-bottom:30px;
	}
	a.btn {
		padding: 10px 30px;
		border-width: 2px;
		&:after {
			padding:10px 0;
		}
	}
}
}
//pad ============================
@include m_first(pad) {
.story .inner {
	h1 {
		width:250px;
		height:205px;
	}
	h2 {
		font-size: 50px;
	}
	h3 {
		width: 100%;
	}
	a.btn {
	}
}
}
