/*************************block.scss*********************************/

//part_pictxt_1================================
@mixin pictxt($col, $gap) {
	width: ( 100% - $gap * $col *2 ) / $col;
	margin: 0 $gap $gap*2 $gap;
}

.part_pictxt_1 {
	@extend %clearfix;
}
//item
.part_pictxt_1 a.item {
	@include pictxt(2, 0.5%);
	display: block;
	float: left;
	margin-bottom: 10px;
	.pic {
		margin-bottom: 5px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	h3 {
		font-size: 18px;
		line-height: 1.3em;
		color: #333;
	}
	span.label {
		display: inline-block;
		font-size: 14px;
		line-height: 1.4em;
		padding: 0px 5px;
		background: #999;
		color: #fff;
	}
}


//menu_1 菜單================================
.menu_1 {
	background: #666;
	color:#fff;
	width: 80%;
	margin: 0 auto;
	padding: 4%;
	.col {
		margin:0 auto 10% auto;
		text-align: center;
		.item {
			width:250px;
			margin:0 auto;
		}
	}
}
.menu_1 .col .item {
	h2 {
		font-size: 20px;
		margin-bottom:20px;
	}
	ul li {
		font-size: 15px;
		text-align: left;
		margin-bottom:10px;
		position:relative;
		span {
			float:right;
		}
		&:before{
			content:"";
			width:100%;
			height:1px;
			border-top:1px solid #ddd;
			position:absolute;
			bottom:-5px;
		}
	}
}

//FAQ ================================
.block_FAQ {
	max-width:600px;
	margin:0 auto;
	padding: 10px;
	h3{
		text-align: center;
		margin-bottom:30px;
	}
	.item {
		margin-bottom:20px;
		border-bottom:1px solid #ddd;
		.question {
			margin-bottom:20px;
		}
		p {
			margin-bottom:20px;
		}
	}
}

/*=====================media-query=======================*/
//pad============================
@include m_first(pad) {

	//item---------------------
	.part_pictxt_1 a.item {
		@include pictxt(4, 0.5%);
		position: relative;
		display: table-cell;
		vertical-align: middle;
		//圖
		.pic {
			margin-bottom: 0;
		}
		//標題
		h3 {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background: #333;
			color: #fff;
			padding-top: 30%;
			transition: all .5s;
			opacity: 0;
		}
		&:hover h3{
			opacity: 0.8;
		}
		//label
		span.label{
			position: absolute;
			right: 5px;
			bottom: 5px;
			padding: 3px 10px;
		}
	}

	//menu_1 菜單================================
	.menu_1 .col{
		&:nth-of-type(2){
			@extend %clearfix;
			.item {
				width:30%;
				float:left;
				border-right:1px solid #ddd;
				padding-right:30px;
				margin-right:5%;
				margin-bottom:5%;
				&:nth-of-type(3n){
					margin-right:0;
					border-right: none;
				}
				&:nth-of-type(3n+1){
					clear:both;
				}
			}
		}
	}
}