/*************************global.scss*********************************/
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::-moz-selection, &::selection{
    background-color: #666;
   color: #fff;
  }
}


body{
  height:100%;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  background: $body-color;
  font-family: $font-family;
  word-wrap:break-word;
  letter-spacing: 1.6px;
}
html{
  height:100%;
  -webkit-overflow-scrolling:touch;/*修正ios滾動順暢*/
  -webkit-text-size-adjust:none;/*修正旋轉後文字會變大*/
  -webkit-tap-highlight-color:transparent;
  outline: 0;/*去除連結的藍底*/
}
a{
  @include link(#000, #ED0B70);
  transition: all 0.2s ease-out;
}

a img{
  border: none;
}

h1, h2, h3, h4, h5{
  font-family: "微軟正黑體";
  font-weight: normal;
}

@each $title in $headings{
  #{nth($title, 1)}{
    font-size: nth($title, 2);
  }
}

li{
  list-style: none;
}
img{
  vertical-align: bottom;
}

.clearfix{
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  *zoom: 1;
  _zoom: 1;
  }
}

.more_box{
  clear: both;
}

.menu_bread_crumb{
  margin-bottom: 20px;
  em{
    color: #ed0b70;
    font-style: normal;
  }
  span{
    margin: 0px 3px;
  }
}

.search_bar{
  margin-bottom: 10px;
}

.gototop{
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background: url(../images/gototop.png) no-repeat;
  background-size: 60px 60px;
  opacity: 0.9;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 50;
  display: none;
}

.fb_iframe_widget{
  display: block;
}

.fb-page{
  margin: 0 auto;
}
