/*************************layout.scss*********************************/
html, body {
	background: $color_bg;
	height: 100%;
	position: static;
}

.wrapper {
	height: 100%;

    header {
    	width: 100%;
		color: #fff;
		padding: 10px;
		position: fixed;
		left: 0;
		top: 0;
		border: 1px solid gold;
		z-index: 20;
    }
    main {
    	height: 100%;
		max-width: $width_desktop;
    	margin: 0 auto;
    	position: relative;
    }
    footer {
		height: 80px;
		background: #eee;
    }
}

//header-----------
header {
	a.logo {
		display: block;
		width: 150px;
		height: 50px;
		margin: 0 auto;
		background: #eee;
	}
}


%center {
	text-align: center;
}

//main-----------
main {
	.story {
		margin: 0 auto;
		@extend %clearfix;
		@extend %center;
		h2 {
		}
		h3 {
		}
		p {
			text-align: left;
			margin-bottom: 15px;
		}
	}
}
//nav-----------
nav{
	position: fixed;
	top: 200px;
	right: 10px;
	z-index: 100;
	a {
		display: block;
		width: 15px;
		height: 15px;
		background: #fff;
		border-radius: 10px;
		margin-bottom: 15px;
		text-indent: -9999px;
	}
	a.active {
		background:gold;
	}
}
//sence-----------
.sence {
	width: 100%;
	min-height: 500px;
	left: 0;
	padding: 80px 35px 20px 30px;
}
.sence_1 {
	background: #999;
	top: 0;
}
.sence_2 {
	background: #eee;
	top: 100%;
}
.sence_3 {
	background: #666;
	top: 200%;
}
.sence_4 {
	background: #999;
	top: 300%;
}

.scroll {
	width:100px;
	height:100px;
	background: gold;
	position: fixed;
	bottom: 50px;
	z-index: 20;
}

@include m_first(pad) {
	main .story .c1{
			float: left;
			width: 38%;
			min-height: 200px;
			border: 1px solid #333;
	}
	main .story .c2{
			float: right;
			width: 60%;
			border: 1px solid #333;
		p {
		}
	}
}