/*************************layout.scss*********************************/

//版型=========================
html, body {
	background: $color_bg;
	position: static;
}
.wrapper {
	display: flex;
    header {
    	width: 100%;
		color: #fff;
		padding: 10px;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 20;
		transition: all .3s ease-out;
    }
    main {
		max-width: $width_desktop;
    	margin: 0 auto;
    	position: relative;
    }
    footer {
    	position: relative;
    	padding: 30px;
    }
}

//header=========================
header {
	&.active {
		background: rgba(0,0,0,0.7);
	}
	a.logo {
		@extend %text-hide;
		display: block;
		width: 150px;
		height: 30px;
		margin: 0 auto;
		background: #eee;
	}
}

//main=========================
main {
	.story {
		margin: 0 auto;
		@extend %clearfix;
		text-align: center;
		h2 {
		}
		h3 {
		}
		p {
			text-align: left;
			margin-bottom: 15px;
		}
	}
}

//sence=========================
.sence {
	width: 100%;
	left: 0;
	padding: 50px 10px 20px 10px;
	&.sence_1{
		background: #999;
		top: 0;
	}
	&.sence_2{
		background: #eee;
		top: 100%;
	}
	&.sence_3{
		background: #ddd;
		top: 200%;
	}
}

//nav=========================
nav.menu_page{
	display: flex;
	align-items: center;
	position: fixed;
	height: 100%;
	right: 0;
	.menu {
		border: 1px solid green;
		display: flex;
		flex-direction: column;
		top: 200px;
		right: 10px;
		z-index: 100;
		a {
			width: 15px;
			height: 15px;
			background: #fff;
			border-radius: 10px;
			margin-bottom: 15px;
			text-indent: -9999px;
			&.active {
				background:gold;
			}
		}
	}
}

//footer=========================
footer {
	nav {
		text-align: center;
		@extend %clearfix;
		li {
			display: inline-block;
			margin-right: 10px;
		}
		li a{
			@extend %text-hide;
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background: #666;
			&:hover {
				background: #999;
			}
		}
	}
}


/*=====================media-query=======================*/
//pad============================
@include m_first(pad) {

	//nav-------------
	nav.nav_page {
		// display: block;
		display: flex;
	}

	//sence-------------
	.sence {
		padding: 50px 35px 20px 30px;
	}

	//story-------------
	main .story .c1{
			float: left;
			width: 38%;
			min-height: 200px;
			border: 1px solid #333;
	}
	main .story .c2{
			float: right;
			width: 60%;
			border: 1px solid #333;
	}
}