/*************************page.scss*********************************/



/*************************作品資訊頁*********************************/
//輪播 1================================
.gallery_1 {
	margin-bottom: 20px;
	min-height: 500px;
}


//文字資訊================================
//c1---------------
.main_work {
	width:100%;
	clear:both;
	margin-bottom: 5%;
	.info {
		padding:10px;
		.c1 {

			p {
				font-size: 15px;
			}
		}
	}
}
//c2---------------
.main_work .info .c2{
	h4 {
		font-size: 22px;
	}
	.title {
		font-size: 15px;
		position: relative;
		padding-left: 10px;
		margin-top: 10px;
		color: #333;
	}
	.price {
		font-size: 20px;
		& + p {
			font-size:18px;
		}
	}
	p {
		font-size: 15px;
		color: #999;
		margin-bottom:15px;
	}
}

.main_work .m_hidden {
	display:none;
	& + p {
		display:none;
	}
}

/*=====================media-query=======================*/
//pad============================
@include m_first(pad) {

	//下面點點鈕-------------
	.gallery_1 .bx-controls .bx-pager{
		display: block;
	}

	//main_work版型-------------
	.main_work{
		@extend %clearfix;
		.c1 {
			width: 55%;
			float: left;
		}
		.c2 {
			width: 40%;
			float: right;
		}
	}
	.main_work .m_hidden {
		display:block;
		& + p {
			display:none;
		}
	}
}
