/*************************variable.scss*********************************/
//width
$wrapper_width: 960px;

//color
$color_link: #333;
$color_hover: #000;
$text_color: #000;
$body_color: #fff;

//font
$font-size: 16px;
$font-family: Microsoft YaHei, Verdana, Geneva, sans-serif;
$headings:
	(h1, 1.5em),
	(h2, 1.3em),
	(h3, 1.2em),
	(h4, 1.1em),
	(h5, 1em);
$line-height: 1.8;
