/*************************variable.scss*********************************/
//width
$width_desktop: 1200px;



//descriptive variables
$black: #000;
$deep-gray: #333;
$gray: #666;
$light-gray: #999;
$white: #fff;

$dark-brown: #8b746b;
$deep-brown: #905b3b;
$brown: #b57854;
$bright-brown: #a5795f;
$light-brown: #cb906d;
$white-brown: #eee5df;

$yellow: #db9e3f;

//color
$color_bg: #fff;
$color_link: #333;
$color_hover: #000;
$text_color: #000;
$body_color: #fff;

//font
$font-size: 16px;
$font-family: Microsoft YaHei, Verdana, Geneva, sans-serif;
$headings:
	(h1, 1.8em),
	(h2, 1.8em),
	(h3, 1.2em),
	(h4, 1.1em),
	(h5, 1em);
$line-height: 1.8;
