@charset "UTF-8";
/* Vendor  */
/* variable */
/*************************variable.scss*********************************/
/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ins {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* mixin */
/*************************extend*********************************/
header a.logo, .story .inner h1 {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.sence:after, .part_pictxt_1:after, .part_pictxt_1 a.item:after, .menu_1 .col:nth-of-type(2):after, .info .item:after, .sence_3 .inner:after, .sence_3 .inner .item:after, .sence:before, .part_pictxt_1:before, .part_pictxt_1 a.item:before, .menu_1 .col:nth-of-type(2):before, .info .item:before, .sence_3 .inner:before, .sence_3 .inner .item:before {
  content: "";
  display: table;
}

.sence:after, .part_pictxt_1:after, .part_pictxt_1 a.item:after, .menu_1 .col:nth-of-type(2):after, .info .item:after, .sence_3 .inner:after, .sence_3 .inner .item:after {
  clear: both;
}

@font-face {
  font-family: 'cwTeXKai';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format("embedded-opentype"), url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format("woff2"), url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format("woff"), url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format("truetype");
}

/* global */
/*************************global.scss*********************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection, *::selection {
  background-color: #666;
  color: #fff;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fff;
  font-family: Microsoft YaHei, Verdana, Geneva, sans-serif;
  word-wrap: break-word;
}

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /*修正ios滾動順暢*/
  -webkit-text-size-adjust: none;
  /*修正旋轉後文字會變大*/
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  /*去除連結的藍底*/
}

a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:link, a:visited {
  color: #000;
}

a:hover, a:focus, a:active {
  color: #ED0B70;
}

a img {
  border: none;
}

h1, h2, h3, h4, h5 {
  font-family: "微軟正黑體";
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

li {
  list-style: none;
}

img {
  vertical-align: bottom;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  *zoom: 1;
  _zoom: 1;
}

.more_box {
  clear: both;
}

.menu_bread_crumb {
  margin-bottom: 20px;
}

.menu_bread_crumb em {
  color: #ed0b70;
  font-style: normal;
}

.menu_bread_crumb span {
  margin: 0px 3px;
}

.search_bar {
  margin-bottom: 10px;
}

.gototop {
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background: url(../images/gototop.png) no-repeat;
  background-size: 60px 60px;
  opacity: 0.9;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 50;
  display: none;
}

.fb_iframe_widget {
  display: block;
}

.fb-page {
  margin: 0 auto;
}

/* layout */
/*************************layout.scss*********************************/
html, body {
  background: #fff;
  position: static;
}

.wrapper_box {
  height: 100%;
  min-height: 100%;
  overflow: visible;
}

/*半透明覆蓋層===*/
.wrapper_overlap {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 200px;
  top: 0px;
  display: none;
  transition: 0.5s linear;
  z-index: 50;
}

.wrapper {
  position: relative;
  background: url(../images/bg_wrapper.png) repeat center center/25px 25px;
}

.wrapper.active {
  transform: translate(200px, 0px);
}

.wrapper header {
  width: 100%;
  height: 55px;
  padding: 10px;
  background: #222;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  z-index: 20;
  transition: all .3s ease-out;
}

.wrapper header .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2px;
  position: relative;
}

.wrapper header.active {
  transform: translate(200px, 0px);
}

/* 側滑選單-開關鈕====*/
.nav_1_switch {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 7px;
  /*js 添加 .active*/
}

.nav_1_switch .icon {
  display: block;
  width: 15px;
  height: 3px;
  background: #fff;
  position: relative;
  left: 5px;
  top: 10px;
}

.nav_1_switch .icon:before {
  display: block;
  width: 25px;
  height: 3px;
  content: " ";
  background: #fff;
  position: relative;
  left: 0px;
  top: -8px;
  transition: 0.3s linear;
  transform: rotate(0deg) translate3d(0px, 0px, 0px);
}

.nav_1_switch .icon:after {
  display: block;
  width: 25px;
  height: 3px;
  content: " ";
  background: #fff;
  position: relative;
  left: 0px;
  top: 5px;
  transition: 0.3s linear;
  transform: rotate(0deg) translate3d(0px, 0px, 0px);
}

.nav_1_switch.active .icon {
  height: 0px;
}

.nav_1_switch.active .icon:before {
  transform: rotate(45deg) translate3d(5.5px, 5.5px, 0px);
}

.nav_1_switch.active .icon:after {
  transform: rotate(-45deg) translate3d(5.5px, -5.5px, 0px);
}

header.active {
  background: rgba(0, 0, 0, 0.7);
  display: block;
}

header a.logo {
  display: block;
  width: 154px;
  height: 35px;
  margin: 0 auto;
  background: url(../images/logo_header.png) no-repeat center top/100% auto;
}

@media only screen and (min-width: 768px) {
  .wrapper header {
    height: 80px;
  }
  .wrapper header a.logo {
    float: left;
    width: 220px;
    height: 50px;
  }
  .wrapper header .nav_1_switch {
    display: none;
  }
}

.sence {
  max-width: 1400px;
  margin: 0 auto;
}

.sence > .inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 0;
}

/* block */
/*************************block.scss*********************************/
.hidden_768 {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .hidden_768 {
    display: block !important;
  }
}

/************************* 萬用btn *********************************/
.btn_box {
  text-align: center;
}

a.btn {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

a.btn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #666;
  text-shadow: none;
}

/************************* 萬用titile *********************************/
.title_1 {
  width: 135px;
  margin: 0 auto 50px auto;
  position: relative;
}

.title_1:after {
  display: block;
  content: "";
  width: 135px;
  height: 5px;
  background: url(../images/bg_title.png) no-repeat center top/215px 10px;
  position: absolute;
  top: 40px;
  left: 0px;
  opacity: 0.5;
}

.title_1:before {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background: url(../images/icon_title_1.png) no-repeat center center/100% auto;
  position: absolute;
  left: 10px;
  top: 7px;
}

.title_1 h3 {
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 5px;
}

.title_1 span {
  display: block;
  color: #666;
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title_1 {
    width: 220px;
  }
  .title_1:after {
    width: 100%;
    height: 5px;
    top: 48px;
  }
  .title_1:before {
    width: 30px;
    height: 30px;
    left: 35px;
    top: 8px;
  }
  .title_1 h3 {
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 90px;
    padding-top: 5px;
  }
  .title_1 span {
    font-size: 18px;
  }
}

/************************* 圖文列表 *********************************/
.part_pictxt_1 {
  padding: 5px 2%;
}

.part_pictxt_1 a.item {
  width: 47%;
  margin: 0 1.5% 3% 1.5%;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  background: #eee5df;
  float: left;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
  padding-top: 1px;
}

.part_pictxt_1 a.item .pic {
  margin-bottom: 5px;
}

.part_pictxt_1 a.item .pic img {
  max-width: 100%;
  height: auto;
}

.part_pictxt_1 a.item .txt {
  padding: 10px;
  margin-bottom: 15px;
}

.part_pictxt_1 a.item .txt h4 {
  font-size: 20px;
  color: #5c351e;
}

.part_pictxt_1 a.item .txt span.label {
  display: inline-block;
  font-size: 14px;
  color: #a5795f;
  margin-bottom: 15px;
}

.part_pictxt_1 a.item .txt span.label:before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../images/icon_pictxt_1.png) no-repeat center center/100% auto;
  position: relative;
  right: 6px;
  top: 2px;
}

.part_pictxt_1 a.item .txt span.label:after {
  display: block;
  content: "";
  clear: both;
  margin: 5px auto 0 auto;
  width: 20px;
  height: 1px;
  background: #a5795f;
}

.part_pictxt_1 a.item .txt p.summary {
  font-size: 15px;
  color: #666;
  display: none;
}

.part_pictxt_1 a.item .btn {
  display: inline-block;
  padding: 2px 15px;
  margin-bottom: 20px;
  border: 1px solid #81511c;
  color: #81511c;
  font-size: 14px;
  transition: all 0.6s ease-out;
}

.part_pictxt_1 a.item:hover {
  background: #e4d9d2;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}

.part_pictxt_1 a.item:hover .btn {
  background: #81511c;
  color: #fff;
  border: 1px solid #fff;
}

@media only screen and (min-width: 768px) {
  .part_pictxt_1 a.item {
    width: 23%;
    margin: 0 1% 2% 1%;
    position: relative;
  }
}

.block_FAQ {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.block_FAQ h3 {
  text-align: center;
  margin-bottom: 30px;
}

.block_FAQ .item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.block_FAQ .item .question {
  margin-bottom: 20px;
}

.block_FAQ .item p {
  margin-bottom: 20px;
}

/*=====================media-query=======================*/
@media only screen and (min-width: 768px) {
  .menu_1 .col:nth-of-type(2) .item {
    width: 30%;
    float: left;
    border-right: 1px solid #ddd;
    padding-right: 30px;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .menu_1 .col:nth-of-type(2) .item:nth-of-type(3n) {
    margin-right: 0;
    border-right: none;
  }
  .menu_1 .col:nth-of-type(2) .item:nth-of-type(3n+1) {
    clear: both;
  }
}

/* page */
.story {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-shadow: 0 0 5px #333;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.story .inner {
  align-self: center;
  text-align: center;
  color: #fff;
}

.story .inner h1 {
  width: 140px;
  height: 115px;
  background: url(../images/logo_story.png) no-repeat center center/100% auto;
  margin: 0 auto  20px auto;
}

.story .inner h2 {
  font-family: 'cwTeXKai', serif;
  font-size: 26px;
  margin-bottom: 10px;
}

.story .inner h3 {
  width: 80%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin-bottom: 20px;
}

/*=====================media-query=======================*/
@media only screen and (min-width: 414px) {
  .story .inner h1 {
    width: 220px;
    height: 181px;
  }
  .story .inner h2 {
    font-size: 36px;
  }
  .story .inner h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .story .inner a.btn {
    padding: 10px 30px;
  }
}

@media only screen and (min-width: 768px) {
  .story .inner h1 {
    width: 250px;
    height: 205px;
  }
  .story .inner h2 {
    font-size: 50px;
  }
  .story .inner h3 {
    width: 100%;
  }
  .story .inner a.btn {
    padding: 10px 30px;
  }
}

.menu_1 {
  width: 200px;
  height: 100vh;
  background: #693d23;
  position: fixed;
  left: -200px;
  top: 0px;
  z-index: 100;
}

.menu_1 li {
  text-align: center;
}

.menu_1 li a {
  display: block;
  color: #fff;
  padding: 5px;
}

/*=====================media-query=======================*/
@media only screen and (min-width: 768px) {
  .menu_1 {
    width: calc(100% - 220px);
    height: 50px;
    line-height: 40px;
    background: none;
    position: static;
    float: right;
  }
  .menu_1 li {
    width: calc(100% / 6);
    float: left;
    text-align: center;
  }
  .menu_1 li a {
    display: inline-block;
    color: #fff;
    transition: all 0.5s ease-out;
  }
  .menu_1 li:nth-last-of-type(1) {
    margin-right: 0;
  }
  .menu_1 li:hover a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.info .item {
  clear: both;
  background: #545454;
  position: relative;
}

.info .item .pic {
  width: 50%;
  float: left;
}

.info .item .pic img {
  max-width: 100%;
  height: auto;
}

.info .item .txt {
  width: 50%;
  height: 100%;
  color: #fff;
  position: absolute;
  right: 0;
  display: flex;
  padding: 10px;
}

.info .item .txt h3 {
  align-self: center;
  text-align: center;
  font-size: 14px;
}

.info .item .txt p {
  display: none;
}

.info .txt {
  position: absolute;
}

.info .txt:before, .info .txt:after {
  display: block;
  content: "“";
  font-size: 20px;
  font-family: "Arial";
  float: left;
}

.info .txt:before {
  content: "“";
  float: left;
}

.info .txt:after {
  content: "”";
  float: right;
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.info .item:nth-of-type(even) {
  background: #905b3b;
}

.info .item:nth-of-type(even) .pic {
  float: right;
}

.info .item:nth-of-type(even) .txt {
  left: 0;
}

/*=====================media-query=======================*/
@media only screen and (min-width: 414px) {
  .info .item .txt h3 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .info .item .txt {
    display: block;
    padding: 20px;
  }
  .info .item .txt:before, .info .item .txt:after {
    display: none;
  }
  .info .item .txt h3 {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .info .item .txt p {
    display: block;
    max-width: 420px;
    margin: 0 auto;
    padding: 15px;
    background: #eee5df;
    color: #998e87;
    font-size: 14px;
    text-align: center;
    line-height: 1.8em;
    position: relative;
  }
  .info .item .txt p:after {
    display: block;
    content: "";
    width: 105%;
    height: 101%;
    position: absolute;
    bottom: -9%;
    left: -3%;
    border: 1px solid #eee5df;
  }
}

@media only screen and (min-width: 1200px) {
  .info .item .txt {
    padding: 40px;
  }
  .info .item .txt h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .info .item .txt p {
    max-width: 460px;
    padding: 40px 20px;
    font-size: 15px;
    line-height: 2em;
  }
}

.sence_2 .title_1:before {
  background-image: url(../images/icon_title_2.png);
}

/*=====================media-query=======================*/
.sence_3 {
  background: #905b3b;
}

.sence_3 .title_1 h3 {
  color: #fff;
}

.sence_3 .title_1 span {
  color: #fff;
}

.sence_3 .title_1:after {
  background-position: center bottom;
}

.sence_3 .title_1:before {
  background-image: url(../images/icon_title_3.png);
}

.sence_3 .item {
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.sence_3 .item .c1 p.summary {
  max-width: 600px;
  margin-bottom: 30px;
  padding: 0px 15px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.sence_3 .c1 .gallery_2 .bx-wrapper {
  margin: 0px auto 20px;
}

.sence_3 .c1 .gallery_2 .bx-wrapper .bx-viewport {
  background: none;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  left: 0;
}

.sence_3 .c1 .gallery_2 .bx-wrapper .bx-viewport a.pic {
  z-index: 0 !important;
}

.sence_3 .c1 .gallery_2 .bx-wrapper .bx-controls-direction a {
  z-index: 0 !important;
}

.sence_3 .c2 .info {
  width: 85%;
  margin: 0 auto;
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.sence_3 .c2 .info h4 {
  font-size: 22px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.sence_3 .c2 .info span.label {
  display: inline-block;
  font-size: 14px;
  background: #db9e3f;
  border-radius: 5px;
  padding: 0px 12px;
  position: relative;
  left: 5px;
  bottom: 3px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.sence_3 .c2 .info .list h5 {
  display: inline-block;
  padding: 0 5px;
  background: #683e25;
  color: #fff;
  font-size: 13px;
}

.sence_3 .c2 .info .list p {
  margin-bottom: 5px;
}

.sence_3 .c2 .btn_box {
  margin-bottom: 20px;
}

/*=====================media-query=======================*/
@media only screen and (min-width: 1000px) {
  .sence_3 .inner .item {
    clear: both;
    max-width: 80%;
    margin-bottom: 80px;
  }
  .sence_3 .inner .item .c1 {
    width: 48%;
    float: left;
  }
  .sence_3 .inner .item .c1 p.summary {
    font-size: 15px;
  }
  .sence_3 .inner .item .c2 {
    width: 48%;
    float: right;
  }
  .sence_3 .inner .item .c2 .info {
    width: 95%;
    padding: 30px 0;
  }
  .sence_3 .inner .item .c2 .info .list {
    margin-bottom: 10px;
  }
  .sence_3 .inner .item:nth-of-type(even) .c1 {
    float: right;
  }
  .sence_3 .inner .item:nth-of-type(even) .c2 {
    float: left;
  }
}
