doctype html
html(lang="en")
	head
		- var sTitle = "Web-Bread"
		include layout/head
	body
		.wrapper_box: .wrapper
			include layout/header
			include block/story
			include block/sence_1
			include block/sence_4
			include block/sence_3
			include block/sence_2
			include block/sence_5
			include block/map
			include block/sence_6