header
	.inner
		.nav_1_switch
			span.icon
		a(href="#" class="logo move" attr="story") 有間麵包店

		ul.menu_1

			.menu_1_inner
				li: a(href="javascript:;") 安心食材
				li: a(href="javascript:;") Menu
				li: a(href="javascript:;") 麵包介紹
				li: a(href="javascript:;") 我要訂購
				li: a(href="javascript:;") FAQ
				.social_1
					a(class="fb" href="javascript:;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://events.ettoday.net/wildlife2016/index.phtml','facebook-share-dialog','width=626,height=436');return false;")
					a(class="line" href="http://line.naver.jp/R/msg/text/?有間麵包店 | 承諾真材實料的好味道。 %0D%0Ahttp://events.ettoday.net/wildlife2016/index.phtml" rel="nofollow" alt="用LINE分享")

