header
	.inner
		.nav_1_switch
			span.icon
		a(href="#" class="logo") 有間麵包店
		ul.menu_1
			.menu_1_inner
				each item in ["安心食材", "麵包介紹", "Menu", "店鋪資訊", "FAQ", "如何訂購"]
					li
						a(href="javasrcipt:;")= item

