title= sTitle
meta(charset="UTF-8")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='')
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")

link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='../lib/jquery.vegas/vegas.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='../lib/jquery.vegas/vegas.min.js')
script(src='js/common.js')

//- style.
//- 	@font-face {
//- 		font-family: 'cwTeXKai';
//- 		font-style: normal;
//- 		font-weight: 500;
//- 		src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot);
//- 		src: url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),
//- 			url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),
//- 			url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),
//- 			url(//fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype');
//- 	}


