.light_box
	.inner
		.btn_close: .icon
		h4 訂購方式
		.btn_group
			a.btn.call 0921-428-775
			a.btn.line(href="http://line.me/ti/p/%40nzi1674y" target="_blank") @nzi1674y
			a.btn.fb(href="https://www.facebook.com/yujinbakery/" target="_blank") 有間麵包店