// 菜單 start
.sence.sence_4.page
	.inner
		.title_1
			h3 菜單
			span Menu
		// part_txt_1
		.part_txt_1
			ul.item
				h4 經典菜單
				li 經典蔥花
					span 35元
				li 菜圃蛋麵包
					span 45元
				li 奶酥波蘿
					span 45元
				li 螺旋麵包
					span 35元
			ul.item
				h4 歐式手感
				li 自家老應紅豆
					span 120元
				li 起司
					span 120元
				li 花豆核桃
					span 120元
				li 核桃
					span 120元
			ul.item
				h4 有間吐司
				li 吐司
					span 100元
				li 脆皮吐司
					span 120元
				li 培根乳酪吐司
					span 180元
				li 全麥高纖吐司
					span 120元
		// part_txt_1
// 菜單 end