// 商品介紹 start
.sence.sence_3
	.inner
		.title_1
			h3 經典原味
			span Classic
		.item
			.c1
				.gallery_2: .run: .inner
					a.pic: img(src="images/pic_b_1.jpg")
					a.pic: img(src="images/pic_b_2.jpg")
				p.summary
					|每天將新鮮的台灣蔥洗淨、切花，拌入無添加純胡椒粉和鹽巴調味，烘烤後蔥的鮮甜和麵團的香氣，是不能錯過的一款經典蔥花！
			.c2
				.info
					h4 《 經典蔥花 》
						span.label 預定款
					.list
						h5 價格
						p 35元
					.list
						h5 內容物
						p 自家麵種、台灣麵粉、新鮮蔥花、胡椒粉、雞蛋
					.list.hidden_768
						h5 淨重
						p 90g
					.list.hidden_768
						h5 保存期限
						p 常溫兩天
					.list.hidden_768
						h5 商品備註
						p 新鮮蔥花，隔天食用建議冷藏保存
				.btn_box: a.btn(href="javascript:;") 我要訂購
		.item
			.c1
				.gallery_2: .run: .inner
					a.pic: img(src="images/pic_c_1.jpg")
					a.pic: img(src="images/pic_c_2.jpg")
				p.summary
					|爸爸的拿手料理─菜圃蛋，鹹香的菜圃拌入點蔥花提味，充滿回憶的味道，將這份樸實的台灣味，做成屬於台灣的麵包。
			.c2
				.info
					h4 《 菜圃蛋麵包 》
						span.label 預定款
					.list
						h5 價格
						p 120元
					.list
						h5 內容物
						p 自家麵種、台灣麵粉、菜圃、新鮮蔥花、雞蛋
					.list.hidden_768 h5 淨重
						p 12兩一袋
					.list.hidden_768
						h5 保存期限
						p 常溫一天
					.list.hidden_768
						h5 商品備註
						p 含蛋料理，隔天食用建議冷藏保存
				.btn_box: a.btn(href="javascript:;") 我要訂購

// 商品介紹 end