// 商品列表 start
.sence.sence_2.page
	.inner
		.title_1
			h3 商品列表
			span List
		.part_pictxt_1
			a.item(href="javascript:;")
				.pic: img(src="images/pic_a_1.jpg")
				.txt
					h4 經典菜單
					span.label 蛋奶素
					p.summary
						| 有間麵包店的經典人氣菜單，老闆精心孕育而出的兒女。
				.btn 麵包介紹
			a.item(href="javascript:;")
				.pic: img(src="images/pic_a_2.jpg")
				.txt
					h4 歐式手感
					span.label 蛋奶素
					p.summary
						| 有間麵包店的經典人氣菜單，老闆精心孕育而出的兒女。
				.btn 麵包介紹
			a.item(href="javascript:;")
				.pic: img(src="images/pic_a_4.jpg")
				.txt
					h4 有間吐司
					span.label 蛋奶素
					p.summary
						| 有間麵包店的經典人氣菜單，老闆精心孕育而出的兒女。
				.btn 麵包介紹
			a.item(href="javascript:;")
				.pic: img(src="images/pic_a_3.jpg")
				.txt
					h4 貝果
					span.label 蛋奶素
					p.summary
						| 有間麵包店的經典人氣菜單，老闆精心孕育而出的兒女。
				.btn 麵包介紹
// 商品列表 end