// FAQ start
.sence.sence_6.page
	.inner
		.title_1
			h3 問與答
			span FAQ
		.faq
			p.qus 如麵包一兩天內就會品嚐完，可以不要冷凍改放冷藏嗎？
			p.ans 麵包存放冷藏水份容易流失影響口感，建議放置冷凍，麵包的保存效果會比較好，回烤後口感較無差異。

			p.qus 何決定麵包該切或不切？
			p.ans 麵包正確的品嘗方式是吃多少切多少，事先將麵包分割又未馬上品嚐，麵包切面受空氣影響容易變乾，間接影響到麵包的口感與品質，要品嚐時再切是最好的方式。

			p.qus 麵包如何加熱回烤?
			p.ans.
				步驟如下：
				br
				br
				一、
				將麵包用塑膠袋或紙袋包好避免水分散發太快
				如果買來不久即要品嚐，可用塑膠袋（軟式高成分甜麵包）或紙袋（硬式麵包）包好靜置常溫下
				br
				br
				二、保存麵包的最佳方式就是冷凍
				零下18度C以下最佳，以保存鮮味〈但是還是請盡早食用完〉。品嚐時從冷凍庫取出麵包，可長溫退冰，或前一天放冷藏退冰
				br
				br
				三、冷凍前請先切片

			p.qus 回烤方式
			p.ans.
				先將冷凍麵包包鋁箔紙，接著步驟如下：
				br
				br
				方法一：烤箱烘烤方法。
				請先將烤箱以180-200度預熱5分鐘→麵包外皮噴水包上鋁箔→放入烤箱烤約15分鐘,打開鋁箔表面烤酥3分鐘。
				br
				br
				方法二：電鍋蒸烤方法，可先退冰。
				乾蒸不需加水→放上麵包(按下開關)→約3分鐘自動跳起再悶約3~5分即可食用
				或加少量的水，加太多會太濕，跳起即可。
				br
				br
				方法三：<微波爐>先退冰，一般不建議用微波爐加熱會將麵包水分抽乾，需放一杯水，轉中一分鐘即可。
				br
				br
				冷凍麵包回烤，包鋁箔回烤
				上述溫度時間均為參考值，烤箱的溫度及時間也要視各家烤箱的廠牌與麵包款式大小不同 請再自行調整

// FAQ end