// 商品介紹 start
.sence.sence_3
	.inner
		.title_1
			h3 經典原味
			span Classic
		.item
			.c1
				.gallery_2: .run: .inner
					a.pic: img(src="images/pic_b_1.jpg")
					a.pic: img(src="images/pic_b_2.jpg")
				p.summary
					|每天將新鮮的台灣蔥洗淨、切花，拌入無添加純胡椒粉和鹽巴調味，烘烤後蔥的鮮甜和麵團的香氣，是不能錯過的一款經典蔥花！
			.c2
				.info
					h4 《 經典蔥花 》
						span.label 預定款
					.list
						h5 價格
						p 120元
					.list
						h5 內容物
						p 有間麵種(老麵)/台灣麵粉/水/糖/鹽
					.list.hidden_768
						h5 淨重
						p 12兩一袋
					.list.hidden_768
						h5 保存期限
						p 常溫下保存5天、冷藏0-7℃下保存7-14天
					.list.hidden_768
						h5 商品備註
						p 新鮮蔥花，隔天食用建議冷藏保存
				.btn_box: a.btn(href="javascript:;") 我要訂購
		.item
			.c1
				.gallery_2: .run: .inner
					a.pic: img(src="images/pic_c_2.jpg")
					a.pic: img(src="images/pic_c_3.jpg")
				p.summary
					|每天將新鮮的台灣蔥洗淨、切花，拌入無添加純胡椒粉和鹽巴調味，烘烤後蔥的鮮甜和麵團的香氣，是不能錯過的一款經典蔥花！
			.c2
				.info
					h4 《 經典蔥花 》
						span.label 預定款
					.list
						h5 價格
						p 120元
					.list
						h5 內容物
						p 有間麵種(老麵)/台灣麵粉/水/糖/鹽
					.list.hidden_768
						h5 淨重
						p 12兩一袋
					.list.hidden_768
						h5 保存期限
						p 常溫下保存5天、冷藏0-7℃下保存7-14天
					.list.hidden_768
						h5 商品備註
						p 新鮮蔥花，隔天食用建議冷藏保存
				.btn_box: a.btn(href="javascript:;") 我要訂購

// 商品介紹 end